body {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    justify-items: center; 
    padding-top: 2em;
    padding-bottom:0;
    background-color: rgb(7, 62, 134);
}

header img{
    max-width: 20%;
    margin:0;
    padding:0;
}

header h1 {
    margin:0;
    padding:0;
    color: rgba(231, 192, 15, 0.877);
}

main {
    margin: 3em
}

#search {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: baseline;
    max-width: 250px;
}

#search input {
 max-height: 2em;
}

#filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#selectfilter {
   width: 30% ;
}


table{
    width: 80%;
    text-align: left;
}

.hidden{
    display: none
}

table tr:nth-child(odd) {
   background-color: rgba(218, 217, 216, 0.486);
}

th{
    background-color: rgb(7, 62, 134);
    color:white;
    padding:0.5em;
    text-align: center;
}
td{
    border-collapse: collapse;
    padding: 0.5em;
    text-align: center;
}

[data-action] {
    cursor: pointer;
  }

  #sorting th.sortby {
    text-decoration: underline;
  }
  
  #sorting th.sortby[data-sort-direction="asc"]::after{
    content:" ˄"
  }
  #sorting th.sortby[data-sort-direction="desc"]::after{
    content:" ˅"
  }

  [data-field="firstName"]{
      text-decoration: underline;
      cursor: pointer;
  }

.show{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179 174 174 / 40%);
}

#content-popup{
    position:relative;
    top: 2vh;
    left: 2vw;
    background-color: rgb(7, 62, 134);
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3fr auto 1fr;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 50vw;
    
}

#content-popup #housecrest {
    max-width: 20%;
    grid-column: 1/3;
    grid-row: 1;
    justify-self: center;
}
#content-popup #studentpicture {
    max-width: 100%;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}
#content-popup #studentData{
    grid-column: 2/3;
    grid-row: 2;
    padding-left: 1.5em;
}

#content-popup #close {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    cursor:pointer;
}

#content-popup #buttons {
    grid-column: 1/3;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    max-height: 30px;
    justify-content: space-around;
    
    margin-top: 1em;
    
}

#content-popup #buttons>*{
    background-color: rgb(168, 126, 11);  
    border-radius: 10%;
    color:white
}

