body {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
    padding: 0;
    background-color: rgb(7, 62, 134);
}

header img{
    max-width: 20%;
    margin: 1em auto;
    padding:0;
}

header h1 {
    margin:0;
    padding:0;
    color: rgb(235, 212, 13)
}

header h2 {
    margin:0.5em 0;
    padding:0;
    color: rgba(235, 212, 13);
}

main {
    margin: 3em;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#form {
    display: flex;
   flex-direction: row;
   justify-content: space-around;
    max-width: 250px;
}

#search-button {
    background: rgb(7, 62, 134);
    margin-left: 0.5em;
    border:none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Arial;
    padding: 0.7em;
    text-shadow: -100px -100px 0 #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 #search-button:hover {
    background: #1E62D0;
    border-radius: 5px;
    text-decoration: none;
 }

#search {
 height: 5vh;
 border: 2px solid rgb(230, 228, 228);
 border-radius: 5px;
}

#filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
#filter p:first-of-type{
    font-weight: bold;
}

#selectfilter {
   width: 30% ;
   height: 5vh;
   border: 2px solid rgb(230, 228, 228);
   border-radius: 5px;
}

#summary-data .summary-header{
    
    font-weight: bold;
    font-size:medium;
    text-align: left;
   }

#data-display{
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));;
margin-bottom: 1em;
max-width: 80%;
background-color:rgba(209, 206, 206, 0.322);

}
#data-display>* {
    margin: 1em;
    background-color:rgba(189, 189, 189, 0.322);
    padding: 1em;
    border-radius: 5px;

}



#summary-data p{
    font-size:smaller;
    text-align: center;
   }

   #summary-data p span{
    margin-top: 1em;
    font-weight:bold;
   }



#summary-data img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    background-color: rgba(249, 254, 255, 0.781);
    padding: 0.5em;
    border-radius: 5px;
  /*   box-shadow:0px 1px 16px 2px rgba(0,0,0,0.23); */
}



table{
    width: 80%;
    text-align: left;
    font-size: smaller;
}

.hidden{
    display: none
}

table tr:nth-child(odd) {
   background-color: rgba(7, 62, 134, 0.452);
   color:white;
}

th{
    background-color: rgba(7, 62, 134, 0.521);
    color:white;
    padding:0.5em;
    text-align: center;
}
td{
    border-collapse: collapse;
    padding: 0.5em;
    text-align: center;
}

[data-action] {
    cursor: pointer;
  }

  #sorting th.sortby {
    text-decoration: underline;
  }
  
  #sorting th.sortby[data-sort-direction="asc"]::after{
    content:" ˄"
  }
  #sorting th.sortby[data-sort-direction="desc"]::after{
    content:" ˅"
  }

  [data-field="firstName"]{
      text-decoration: underline;
      cursor: pointer;
  }

.show{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179 174 174 / 40%);
}

#content-popup{
    position:relative;
    top: 2vh;
    left: 2vw;
    background-color: rgb(7, 62, 134);
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3fr auto 1fr;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 50vw;
    
}

#content-popup #housecrest {
    max-width: 20%;
    grid-column: 1/3;
    grid-row: 1;
    justify-self: center;
}
#content-popup #studentpicture {
    max-width: 100%;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}
#content-popup #studentData{
    grid-column: 2/3;
    grid-row: 2;
    padding-left: 1.5em;
}

#content-popup #close {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    cursor:pointer;
}

#content-popup #buttons {
    grid-column: 1/3;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    max-height: 30px;
    justify-content: space-around;
    
    margin-top: 1em;
    
}

#content-popup #buttons > * {
    background-color: rgb(168, 126, 11);  
    border-radius: 10%;
    color:white;
    cursor:pointer;
    padding: 0.5em;
    text-align:center;
}

.dissabled {
    filter: grayscale(70%);
    cursor: none;
}

#warning-message{
    grid-column: 1/3;
    grid-row: 4;
    font-size: small;
}